<mat-accordion>
    <mat-expansion-panel *ngFor="let post of posts;  let idx = index">
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{post.content}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
          <button  (click)="remove(idx)" mat-icon-button color="warn">
              <mat-icon aria-label="delete">delete</mat-icon>
           </button>
           <button  (click)="edit(idx)" mat-icon-button color="accent">
              <mat-icon aria-label="edit">edit</mat-icon>
           </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
